<h1 class="text=white bg=black-500"><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
<!-- 
    1. node-tesseract-ocr
    2. multer
    3.path
    3. cookie-parser
    4. bcrypt
    5. jszip


erroRRRR == directory not found error at last 6/14/2023
 -->

